@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#loading-screen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
